<%- include('../partials/header'); -%>


  <li><a href="/">Home</a></li>
  <h1>Books In Your Library</h1>
<nav>
  <a href="/books/new">Add a new book</a>
</nav>
  <ul>

  <% for (let i = 0; i < book.length; i++) { %>
    <li> 

    <a href="/books/<%=i%>"><%=book[i].title; %></a>, <br><small>by <%=book[i].author;%>. <br><strong> <%if(book[i].currentlyReading === true){%>
    You are currently reading this book.
    <%} else {%>
    <%} %>
    <%if(book[i].read === true){%>
    You have previously read this book.
    <%} else {%>
    You have not yet read this book.
    <%} %></strong>
    <br>
  
   
    <a href="/books/<%=book[i].id%>/edit">EDIT</a></small>
    
<%} %>

    </li>
  </ul>




<%- include('../partials/footer'); -%>